$primary: #981e32;
$black: #111;
$secondary: #fdb42d;

@mixin bolds {
    font-weight: bold;
    color: $primary;
    text-shadow: 0px 4px 2px white;
}

a {
    color: $secondary;
    text-decoration: none;
    &:hover { text-decoration: underline; }
}

html {
    overflow-y: scroll;
}

.hero-unit {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

body {
    background-image:url('../images/gray_jean.png');
    color: $black;
    font-family: 'Helvetica Neue', sans-serif;
}

#title {
    font-size: 6.25em;
    letter-spacing: -1px;
    line-height: 1;
    @include bolds;
}

h2 {
    font-size: 2.20em;
    font-weight: 300;
    font-weight: bold;
    color: $black;
}

.container {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 5%;
    text-align: center;
} 

#results {
    h4 {
      color: $primary;
      font-size: 1.35em;
    }
}

#basketball {
    margin-bottom: 5px;
}

hr.break {
    border: 0;
    height: 2px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    margin-left: 10px;
    margin-right: 10px;
}

.next-game {
    text-align: middle;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5px;
    margin-top: 20px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* $MEDIA_QUERIES */
/* Tablets */

@media screen and (max-width: 1024px) {
    #title {
        font-size: 5.00em;
    }
    
    h2 {
        font-size: 1.90em;
    }
    
    #results h4 {
        font-size: 1.25em;
    }

}

/* Smartphones */
@media screen and (max-width: 600px) {
    #title {
        font-size: 2.85em;
    }

    #basketball {
        width: 50px;
        height: 50px;
    }
    
    h2 {
        font-size: 1.40em;
    }
    
    #results h4 {
        font-size: 1em;
    }

}


